In [1]:
import pandas as pd

In [3]:
emp_data = pd.read_csv('Data/HR_comma_sep.csv.txt')

In [4]:
emp_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14999 entries, 0 to 14998
Data columns (total 10 columns):
satisfaction_level       14999 non-null float64
last_evaluation          14999 non-null float64
number_project           14999 non-null int64
average_montly_hours     14999 non-null int64
time_spend_company       14999 non-null int64
Work_accident            14999 non-null int64
left                     14999 non-null int64
promotion_last_5years    14999 non-null int64
sales                    14999 non-null object
salary                   14999 non-null object
dtypes: float64(2), int64(6), object(2)
memory usage: 1.1+ MB

In [5]:
emp_data.rename(columns={'sales':'dept'},inplace=True)

In [6]:
from sklearn.model_selection import train_test_split

In [7]:
trainX,testX, trainY,testY = train_test_split(emp_data.drop(['left'],axis=1),emp_data.left)

In [8]:
emp_data.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,dept,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

In [11]:
from sklearn_pandas import DataFrameMapper
from sklearn.preprocessing import MinMaxScaler,LabelEncoder

In [12]:
mapper = DataFrameMapper([
    ('satisfaction_level',None),
    ('last_evaluation',None),
    (['number_project','average_montly_hours','time_spend_company'],MinMaxScaler()),
    ('dept',LabelEncoder()),
    ('salary',LabelEncoder())
])

In [13]:
mapper

DataFrameMapper(default=False, df_out=False,
        features=[('satisfaction_level', None), ('last_evaluation', None), (['number_project', 'average_montly_hours', 'time_spend_company'], MinMaxScaler(copy=True, feature_range=(0, 1))), ('dept', LabelEncoder()), ('salary', LabelEncoder())],
        input_df=False, sparse=False)

In [15]:
mapper.fit_transform(trainX).shape

C:\Users\awant\Anaconda3\lib\site-packages\sklearn\utils\validation.py:475: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)

(11249, 7)

### Feature Selection

In [27]:
from sklearn.feature_selection import SelectKBest
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier

In [18]:
from sklearn.pipeline import Pipeline

In [28]:
pipe = Pipeline([
    ('mapper',mapper),
    ('select',SelectKBest(k=4)),
    ('clf',KNeighborsClassifier())
])

In [29]:
pipe.fit(trainX,trainY)

C:\Users\awant\Anaconda3\lib\site-packages\sklearn\utils\validation.py:475: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)

Pipeline(memory=None,
     steps=[('mapper', DataFrameMapper(default=False, df_out=False,
        features=[('satisfaction_level', None), ('last_evaluation', None), (['number_project', 'average_montly_hours', 'time_spend_company'], MinMaxScaler(copy=True, feature_range=(0, 1))), ('dept', LabelEncoder()), ('salary', LabelEncod...owski',
           metric_params=None, n_jobs=1, n_neighbors=5, p=2,
           weights='uniform'))])

In [30]:
pipe.score(testX,testY)

0.9477333333333333