In [1]:
import pandas as pd

In [3]:
emp_data = pd.read_csv('Data/HR_comma_sep.csv.txt')

In [10]:
#emp_data.info()

In [11]:
emp_data.sales.unique()

array(['sales', 'accounting', 'hr', 'technical', 'support', 'management',
       'IT', 'product_mng', 'marketing', 'RandD'], dtype=object)

In [12]:
emp_data.rename(columns={'sales':'dept'},inplace=True)

In [13]:
emp_data.head(2)

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,dept,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium

In [14]:
feature_data = emp_data.drop(['left'],axis=1)

In [15]:
target_data = emp_data.left

In [16]:
feature_data.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,promotion_last_5years,dept,salary
0,0.38,0.53,2,157,3,0,0,sales,low
1,0.80,0.86,5,262,6,0,0,sales,medium
2,0.11,0.88,7,272,4,0,0,sales,medium
3,0.72,0.87,5,223,5,0,0,sales,low
4,0.37,0.52,2,159,3,0,0,sales,low

### Feature Selection Technique

In [17]:
from sklearn.feature_selection import VarianceThreshold

In [23]:
vt = VarianceThreshold(0.1)

In [25]:
vt.fit_transform(feature_data.drop(['dept','salary'],axis=1))

array([[  2., 157.,   3.,   0.],
       [  5., 262.,   6.,   0.],
       [  7., 272.,   4.,   0.],
       ...,
       [  2., 143.,   3.,   0.],
       [  6., 280.,   4.,   0.],
       [  2., 158.,   3.,   0.]])

In [26]:
vt.variances_

array([6.18130792e-02, 2.92969110e-02, 1.51918262e+00, 2.49414688e+03,
       2.13185567e+00, 1.23697692e-01, 2.08157531e-02])

In [30]:
vt.inverse_transform(vt.fit_transform(feature_data.drop(['dept','salary'],axis=1))).shape

(14999, 7)

In [31]:
from sklearn.feature_selection import SelectKBest

In [32]:
select = SelectKBest(k=4)

In [37]:
select.fit_transform(feature_data.drop(['dept','salary'],axis=1),target_data)

array([[3.80e-01, 1.57e+02, 3.00e+00, 0.00e+00],
       [8.00e-01, 2.62e+02, 6.00e+00, 0.00e+00],
       [1.10e-01, 2.72e+02, 4.00e+00, 0.00e+00],
       ...,
       [3.70e-01, 1.43e+02, 3.00e+00, 0.00e+00],
       [1.10e-01, 2.80e+02, 4.00e+00, 0.00e+00],
       [3.70e-01, 1.58e+02, 3.00e+00, 0.00e+00]])

In [38]:
feature_data.average_montly_hours.min()

96

In [39]:
feature_data.average_montly_hours.max()

310

In [40]:
cols_no_tf = list(set(feature_data.columns) - set(['average_montly_hours', 'salary', 'dept']))

In [41]:
cols_no_tf

['satisfaction_level',
 'number_project',
 'last_evaluation',
 'time_spend_company',
 'Work_accident',
 'promotion_last_5years']

In [42]:
no_tf_cols_dm = list(map(lambda x:(x,None), cols_no_tf))

In [43]:
no_tf_cols_dm

[('satisfaction_level', None),
 ('number_project', None),
 ('last_evaluation', None),
 ('time_spend_company', None),
 ('Work_accident', None),
 ('promotion_last_5years', None)]

In [48]:
from sklearn_pandas import DataFrameMapper
from sklearn.preprocessing import MinMaxScaler,LabelEncoder

In [49]:
mapper = DataFrameMapper([
    *no_tf_cols_dm,
    (['average_montly_hours'],MinMaxScaler()),
    ('salary',LabelEncoder()),
    ('dept',LabelEncoder())
])

In [50]:
mapper

DataFrameMapper(default=False, df_out=False,
        features=[('satisfaction_level', None), ('number_project', None), ('last_evaluation', None), ('time_spend_company', None), ('Work_accident', None), ('promotion_last_5years', None), (['average_montly_hours'], MinMaxScaler(copy=True, feature_range=(0, 1))), ('salary', LabelEncoder()), ('dept', LabelEncoder())],
        input_df=False, sparse=False)

In [63]:
from sklearn.pipeline import Pipeline
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier

In [68]:
pipe = Pipeline([
    ('mapper',mapper),
    ('select',select),
    ('logisticRegression',RandomForestClassifier())
])

In [69]:
pipe.steps

[('mapper', DataFrameMapper(default=False, df_out=False,
          features=[('satisfaction_level', None), ('number_project', None), ('last_evaluation', None), ('time_spend_company', None), ('Work_accident', None), ('promotion_last_5years', None), (['average_montly_hours'], MinMaxScaler(copy=True, feature_range=(0, 1))), ('salary', LabelEncoder()), ('dept', LabelEncoder())],
          input_df=False, sparse=False)),
 ('select',
  SelectKBest(k=4, score_func=<function f_classif at 0x00000249CCE5F9D8>)),
 ('logisticRegression',
  RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
              max_depth=None, max_features='auto', max_leaf_nodes=None,
              min_impurity_decrease=0.0, min_impurity_split=None,
              min_samples_leaf=1, min_samples_split=2,
              min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
              oob_score=False, random_state=None, verbose=0,
              warm_start=False))]

In [70]:
pipe.fit(feature_data,target_data)

C:\Users\awant\Anaconda3\lib\site-packages\sklearn\utils\validation.py:475: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)

Pipeline(memory=None,
     steps=[('mapper', DataFrameMapper(default=False, df_out=False,
        features=[('satisfaction_level', None), ('number_project', None), ('last_evaluation', None), ('time_spend_company', None), ('Work_accident', None), ('promotion_last_5years', None), (['average_montly_hours'], MinMaxScaler(copy=Tru...n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False))])

In [71]:
pipe.score(feature_data,target_data)

0.9939329288619241

In [72]:
from sklearn.decomposition import PCA

In [73]:
pca = PCA(n_components=2)

In [74]:
from sklearn.datasets import load_iris

In [75]:
iris = load_iris()

In [77]:
iris.data[:10]

array([[5.1, 3.5, 1.4, 0.2],
       [4.9, 3. , 1.4, 0.2],
       [4.7, 3.2, 1.3, 0.2],
       [4.6, 3.1, 1.5, 0.2],
       [5. , 3.6, 1.4, 0.2],
       [5.4, 3.9, 1.7, 0.4],
       [4.6, 3.4, 1.4, 0.3],
       [5. , 3.4, 1.5, 0.2],
       [4.4, 2.9, 1.4, 0.2],
       [4.9, 3.1, 1.5, 0.1]])

In [78]:
pca.fit_transform(iris.data)

array([[-2.68420713,  0.32660731],
       [-2.71539062, -0.16955685],
       [-2.88981954, -0.13734561],
       [-2.7464372 , -0.31112432],
       [-2.72859298,  0.33392456],
       [-2.27989736,  0.74778271],
       [-2.82089068, -0.08210451],
       [-2.62648199,  0.17040535],
       [-2.88795857, -0.57079803],
       [-2.67384469, -0.1066917 ],
       [-2.50652679,  0.65193501],
       [-2.61314272,  0.02152063],
       [-2.78743398, -0.22774019],
       [-3.22520045, -0.50327991],
       [-2.64354322,  1.1861949 ],
       [-2.38386932,  1.34475434],
       [-2.6225262 ,  0.81808967],
       [-2.64832273,  0.31913667],
       [-2.19907796,  0.87924409],
       [-2.58734619,  0.52047364],
       [-2.3105317 ,  0.39786782],
       [-2.54323491,  0.44003175],
       [-3.21585769,  0.14161557],
       [-2.30312854,  0.10552268],
       [-2.35617109, -0.03120959],
       [-2.50791723, -0.13905634],
       [-2.469056  ,  0.13788731],
       [-2.56239095,  0.37468456],
       [-2.63982127,  0.31929007],
       [-2.63284791, -0.19007583],
       [-2.58846205, -0.19739308],
       [-2.41007734,  0.41808001],
       [-2.64763667,  0.81998263],
       [-2.59715948,  1.10002193],
       [-2.67384469, -0.1066917 ],
       [-2.86699985,  0.0771931 ],
       [-2.62522846,  0.60680001],
       [-2.67384469, -0.1066917 ],
       [-2.98184266, -0.48025005],
       [-2.59032303,  0.23605934],
       [-2.77013891,  0.27105942],
       [-2.85221108, -0.93286537],
       [-2.99829644, -0.33430757],
       [-2.4055141 ,  0.19591726],
       [-2.20883295,  0.44269603],
       [-2.71566519, -0.24268148],
       [-2.53757337,  0.51036755],
       [-2.8403213 , -0.22057634],
       [-2.54268576,  0.58628103],
       [-2.70391231,  0.11501085],
       [ 1.28479459,  0.68543919],
       [ 0.93241075,  0.31919809],
       [ 1.46406132,  0.50418983],
       [ 0.18096721, -0.82560394],
       [ 1.08713449,  0.07539039],
       [ 0.64043675, -0.41732348],
       [ 1.09522371,  0.28389121],
       [-0.75146714, -1.00110751],
       [ 1.04329778,  0.22895691],
       [-0.01019007, -0.72057487],
       [-0.5110862 , -1.26249195],
       [ 0.51109806, -0.10228411],
       [ 0.26233576, -0.5478933 ],
       [ 0.98404455, -0.12436042],
       [-0.174864  , -0.25181557],
       [ 0.92757294,  0.46823621],
       [ 0.65959279, -0.35197629],
       [ 0.23454059, -0.33192183],
       [ 0.94236171, -0.54182226],
       [ 0.0432464 , -0.58148945],
       [ 1.11624072, -0.08421401],
       [ 0.35678657, -0.06682383],
       [ 1.29646885, -0.32756152],
       [ 0.92050265, -0.18239036],
       [ 0.71400821,  0.15037915],
       [ 0.89964086,  0.32961098],
       [ 1.33104142,  0.24466952],
       [ 1.55739627,  0.26739258],
       [ 0.81245555, -0.16233157],
       [-0.30733476, -0.36508661],
       [-0.07034289, -0.70253793],
       [-0.19188449, -0.67749054],
       [ 0.13499495, -0.31170964],
       [ 1.37873698, -0.42120514],
       [ 0.58727485, -0.48328427],
       [ 0.8072055 ,  0.19505396],
       [ 1.22042897,  0.40803534],
       [ 0.81286779, -0.370679  ],
       [ 0.24519516, -0.26672804],
       [ 0.16451343, -0.67966147],
       [ 0.46303099, -0.66952655],
       [ 0.89016045, -0.03381244],
       [ 0.22887905, -0.40225762],
       [-0.70708128, -1.00842476],
       [ 0.35553304, -0.50321849],
       [ 0.33112695, -0.21118014],
       [ 0.37523823, -0.29162202],
       [ 0.64169028,  0.01907118],
       [-0.90846333, -0.75156873],
       [ 0.29780791, -0.34701652],
       [ 2.53172698, -0.01184224],
       [ 1.41407223, -0.57492506],
       [ 2.61648461,  0.34193529],
       [ 1.97081495, -0.18112569],
       [ 2.34975798, -0.04188255],
       [ 3.39687992,  0.54716805],
       [ 0.51938325, -1.19135169],
       [ 2.9320051 ,  0.35237701],
       [ 2.31967279, -0.24554817],
       [ 2.91813423,  0.78038063],
       [ 1.66193495,  0.2420384 ],
       [ 1.80234045, -0.21615461],
       [ 2.16537886,  0.21528028],
       [ 1.34459422, -0.77641543],
       [ 1.5852673 , -0.53930705],
       [ 1.90474358,  0.11881899],
       [ 1.94924878,  0.04073026],
       [ 3.48876538,  1.17154454],
       [ 3.79468686,  0.25326557],
       [ 1.29832982, -0.76101394],
       [ 2.42816726,  0.37678197],
       [ 1.19809737, -0.60557896],
       [ 3.49926548,  0.45677347],
       [ 1.38766825, -0.20403099],
       [ 2.27585365,  0.33338653],
       [ 2.61419383,  0.55836695],
       [ 1.25762518, -0.179137  ],
       [ 1.29066965, -0.11642525],
       [ 2.12285398, -0.21085488],
       [ 2.3875644 ,  0.46251925],
       [ 2.84096093,  0.37274259],
       [ 3.2323429 ,  1.37052404],
       [ 2.15873837, -0.21832553],
       [ 1.4431026 , -0.14380129],
       [ 1.77964011, -0.50146479],
       [ 3.07652162,  0.68576444],
       [ 2.14498686,  0.13890661],
       [ 1.90486293,  0.04804751],
       [ 1.16885347, -0.1645025 ],
       [ 2.10765373,  0.37148225],
       [ 2.31430339,  0.18260885],
       [ 1.92245088,  0.40927118],
       [ 1.41407223, -0.57492506],
       [ 2.56332271,  0.2759745 ],
       [ 2.41939122,  0.30350394],
       [ 1.94401705,  0.18741522],
       [ 1.52566363, -0.37502085],
       [ 1.76404594,  0.07851919],
       [ 1.90162908,  0.11587675],
       [ 1.38966613, -0.28288671]])