In [1]:
import pandas as pd

In [4]:
house_rental = pd.read_csv('house_rental_data.csv.txt',index_col='Unnamed: 0')

In [6]:
house_rental.describe()

,Sqft,Floor,TotalFloor,Bedroom,Living.Room,Bathroom,Price
count,645.000000,645.000000,645.000000,645.000000,645.000000,645.000000,645.000000
mean,1527.656260,5.939535,10.855814,2.837209,1.813953,1.810853,61986.823256
std,767.386531,3.884721,4.996208,1.010740,0.462364,0.683574,35635.091007
min,359.358000,1.000000,1.000000,1.000000,0.000000,0.000000,6100.000000
25%,925.080000,3.000000,7.000000,2.000000,2.000000,1.000000,39000.000000
50%,1423.200000,5.000000,12.000000,3.000000,2.000000,2.000000,50000.000000
75%,1892.856000,8.000000,14.000000,4.000000,2.000000,2.000000,75000.000000
max,5856.468000,22.000000,38.000000,7.000000,4.000000,5.000000,250000.000000

In [12]:
IQR = house_rental.Sqft.quantile(q=.75) - house_rental.Sqft.quantile(q=.25)

In [15]:
house_rental.Sqft.quantile(q=.75) + 1.5 * IQR

3344.52

In [16]:
house_rental.Sqft.quantile(q=.25) - 1.5 * IQR

-526.584

In [17]:
import plotly.plotly as py
from plotly.graph_objs import *

data = [Bar(x=df.School,
            y=df.Gap)]

py.iplot(data, filename='jupyter/basic_bar')

ModuleNotFoundError: No module named 'plotly'